@model List<Pizzabites.Models.Product>
@{
    ViewBag.Title = "Orders";
    @Styles.Render("~/Content/css");
}

<div class="row">
    <h2 class="m-3">Orders</h2>
</div>

<div class="container ">

    <div class="row allorders">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table class="table table-bordered ordertable mt-5">
                    <thead>
                        <tr class="text-align-center">
                            <th scope="col" class="orderhead">Item Name</th>
                            <th scope="col" class="orderhead">Item Description</th>
                            <th scope="col" class="orderhead">Base Price</th>
                            <th scope="col" class="orderhead">Quantity</th>
                            <th scope="col" class="orderhead">Total Price</th>
                            <th scope="col" class="orderhead">Cancel Order</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class='orderdatas'>@item.PRName</td>
                                <td class='orderdatas'>@item.PRDescription</td>
                                <td class='orderdatas'><input type='hidden' class='iprice' value='@item.PRPrize' />@item.PRPrize</td>
                                <td class='orderdatas'>
                                    <input class='text-center iquantity' onchange='subTotal()' type='number' value='0' min='1' max='20' required>
                                </td>
                                <td class='itotal orderdatas'></td>
                                <td>
                                    <form action='../Home/RemoveFromCart' method='POST'>
                                        <input hidden name='PRID' value='@item.PRID'>
                                        <button type="submit" name='Remove_Item' class='plusMinusButton'> REMOVE </button>

                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <form action="/Home/ConfirmOrder" method="POST">
            <div class="col-xl-3 mb-4 pb-3">
                <div class="border bd-light rounded p-4 orderdatas d-flex flex-column align-items-center">
                    <h5>Grand Total:</h5>
                    <h3 class="text-center orderdatas" id="gtotal"></h3>
                    <br />
                    <div class="form-group mb-3">

                        <textarea class="form-control cotext" name="AdressDetails" id="floatingTextarea" placeholder="Enter delivery location" required></textarea>
                    </div>
                    <input type='hidden' name="totalvalue" id="finalTotal" value='' required>

                    <button type="submit" name="submitButton" id="submit" value="" class="plusMinusButton">Confirm Order</button>

                    @if (ViewBag.Orders != null)
                    {

                        <script type="text/javascript">

               window.onload = function () {
           alert("@ViewBag.Orders");
            window.location.href = "Index";
        };
                        </script>
                    }
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    var gt = 0;
    var iprice = document.getElementsByClassName('iprice');
    var iquantity = document.getElementsByClassName('iquantity');
    var itotal = document.getElementsByClassName('itotal');
    var gtotal = document.getElementById('gtotal');
    var total;

    function subTotal() {


        gt = 0;
        for (i = 0; i < iprice.length; i++) {
            itotal[i].innerText = (iprice[i].value) * (iquantity[i].value);
            gt = gt + (iprice[i].value) * (iquantity[i].value);
        }
        gtotal.innerText = gt;
        total = gt;
        if (total == null) {

            ViewBag.Orders = "Order something";
        } else {
            document.getElementById("finalTotal").value = total;
            document.getElementById("submit").value = total;
        }
    }</script>


@if (ViewBag.Orders != null)
{

    <script type="text/javascript">

               window.onload = function () {
           alert("@ViewBag.Orders");
            window.location.href = "Index";
        };
    </script>
}